.count {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  width: 100px;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.count button {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 20px;
  font-size: 20px;
}

.count .count-num {
  line-height: 30px;
}
